Repository tetianaMas/comments-task: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add fetching data
  package-lock.json
  package.json
Due: prettier --write

feat: add fetching data from server
  .eslintignore
  .eslintrc.json
  package-lock.json
  package.json
  src/App.tsx
Due: eslint --fix, prettier --write

feat: add comment styles
  src/App.tsx
  src/components/comment/Comment.tsx
  src/components/comment/comment.css
  src/components/user-name/UserName.tsx
  src/components/user-name/types.ts
  src/components/user-name/userName.css
  src/index.css
Due: eslint --fix, prettier --write

feat: add form component and styles
  src/App.tsx
  src/components/button/Button.tsx
  src/components/button/button.css
  src/components/button/types.ts
  src/components/comment/comment.css
  src/components/form/Form.tsx
  src/components/form/form.css
  src/components/form/types.ts
  src/components/user-name/userName.css
  src/index.css
Due: eslint --fix, prettier --write

feat: add delete button
  src/components/button-icon/Button.tsx
  src/components/button-icon/ButtonIcon.tsx
  src/components/button-icon/button-icon.css
  src/components/button-icon/button.css
  src/components/button-icon/types.ts
  src/components/comment/Comment.tsx
  src/components/comment/comment.css
Due: eslint --fix, prettier --write

feat: add main logic
  src/App.tsx
  src/components/button/types.ts
  src/components/comment-list/CommentList.tsx
  src/components/comment-list/comment-list.css
  src/components/comment-list/types.ts
  src/components/comment/Comment.tsx
  src/components/form/Form.tsx
  src/components/form/types.ts
Due: eslint --fix, prettier --write

Create README.md
  README.md
Due: none

fix: add fixes to naming
  .gitignore
  src/App.tsx
  src/components/comment/Comment.tsx
  src/components/comment/comment.css
  src/index.css
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,ts,jsx,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,js}
